<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{{__HOST__}}/test/css/背景.css"/>
	<link rel="stylesheet" href="{{__HOST__}}/test/css/basic.css"/>
    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/test/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/test/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/test/css/component.css" />
	<script src="{{__HOST__}}/test/js/主页面.js"></script>

</head>
<body>
	<div class="background clearfloat">
          <img src="{{__HOST__}}/test/img/logo.png" class="logo">
        <div class="header">云顶ICT</div>
        <form action="" method="post" autocomplete="off" style="margin-top: 0.6rem">
        	<!-- <input type ="text" name="name" value="" placeholder="姓名" id="name">
        	<div id="line1" style="width:1.07rem;height:2px;margin:0px auto;padding:0px;background-color:#00ffcc;overflow:hidden;"></div>
        	<input type ="text" name="number" value="" placeholder="学号" id="number">
        	<div  id="line2" style="width:1.07rem;height:2px;margin:0px auto;padding:0px;background-color:#00ffcc;overflow:hidden;"></div>
        	<button type="submit" value="Submit" id="button1">提交</button>
        	<div id="line3" style="width:1.07rem;height:2px;margin:0px auto;padding:0px;background-color:#00ffcc;overflow:hidden;"></div> -->
            <section class="content bgcolor-4">

                <span class="input input--madoka">
                    <input class="input__field input__field--madoka" type="text" id="input-31" placeholder="姓名" />
                    <label class="input__label input__label--madoka" for="input-31">
                        <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                            <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                        </svg>
                        <div class="input__label-content input__label-content--madoka"><!-- 姓名 --></div>
                    </label>
                </span>
                <span class="input input--madoka">
                    <input class="input__field input__field--madoka" type="text" id="input-32" placeholder="学号"   />
                    <label class="input__label input__label--madoka" for="input-32">
                        <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                            <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                        </svg>
                        <span class="input__label-content input__label-content--madoka"><!-- 学号 --></span>
                    </label>
                </span>
               <!--  <button type="submit" value="Submit" id="button1" style="margin-top: 0.3rem">提交</button> -->
               <button class="sim-button Button"  type="submit" value="Submit"><span>提交</span></button>
                <!-- <div id="line3" style="width:2.5rem;height:1px;margin:0px auto;padding:0px;background-color:#12eb9b;overflow:hidden;"> -->
                <!-- <span class="input input--madoka">
                    <input class="input__field input__field--madoka" type="text" id="input-33" />
                    <label class="input__label input__label--madoka" for="input-33">
                        <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                            <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                        </svg>
                        <span class="input__label-content input__label-content--madoka">Strength</span>
                    </label> -->
                <!-- </span> -->
            </section>
        </form>
        <div style="margin-top: 1rem">yunding</div>
		</div>

	</div>
</body>
</html>
