<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/font.css">
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/xadmin.css">
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/bootstrap.css">
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/basic.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{__HOST__}}/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{__HOST__}}/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite>
        </a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="{{__HOST__}}/admin/code" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form  action="{{__HOST__}}/admin/code/code-search" method="post" class="layui-form layui-col-md12 x-so">
            <!--<input class="layui-input" placeholder="开始日" name="start" id="start">-->
            <!--<input class="layui-input" placeholder="截止日" name="end" id="end">-->
            <div class="layui-input-inline">
                <select id="classify" class="layui-input" name="classify" lay-filter="aihao">
                    <option value="" >分类查找</option>
                    {{each classify}}
                    <option value={{$value.name}}>{{$value.name}}</option>
                    {{/each}}
                </select>
            </div>
            <!--<input type="text" name="classify"  placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <span class="x-right" style="line-height:40px">共有数据：{{@listNum}} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>名称</th>
            <th>分类</th>
            <th>开发语言</th>
            <th>排序</th>
            <th>创建时间</th>
            <th>查看内容</th>
            <th>评论管理</th>
            <th>审核</th>
            <th>热门</th>
            <th>推荐</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{each list}}
        <tr id="layerDemo">
            <td>{{$value.title}}</td>
            <td>{{$value.classify}}</td>
            <td>{{$value.language}}</td>
            <td>{{$value.sort}}</td>
            <td>{{$value.created_at|dateFormat}}</td>
            <td>
                <button class="layui-btn"><a onclick="x_admin_show('{{$value.title}}','{{__HOST__}}/admin/code/code-content?id={{@$value._id}}',800,600)" >查看内容</a></button>
                <input type="hidden" id="content" name="content" class="col-xs-10 col-sm-5" value="{{@$value._id}}"/>
            </td>
            <td>
                <button class="layui-btn"><a onclick="x_admin_show('{{$value.title}}','{{__HOST__}}/admin/code/code-comments?id={{@$value._id}}&title={{$value.title}}')" >评论管理</a></button>
                <input type="hidden" id="comments" name="comments" class="col-xs-10 col-sm-5" value="{{@$value._id}}"/>
            </td>
            <td class="td-state">
                {{if $value.state==1}}
                <img src="{{__HOST__}}/admin/images/yes.gif" onclick="app.toggle(this,'code','state','{{@$value._id}}')"/>
                {{else}}
                <img src="{{__HOST__}}/admin/images/no.gif" onclick="app.toggle(this,'code','state','{{@$value._id}}')"/>
                {{/if}}
            </td>
            <td class="td-state">
                {{if $value.is_hot==1}}
                <img src="{{__HOST__}}/admin/images/yes.gif" onclick="app.toggle(this,'code','is_hot','{{@$value._id}}')"/>
                {{else}}
                <img src="{{__HOST__}}/admin/images/no.gif" onclick="app.toggle(this,'code','is_hot','{{@$value._id}}')"/>
                {{/if}}
            </td>
            <td class="td-state">
                {{if $value.is_recommend==1}}
                <img src="{{__HOST__}}/admin/images/yes.gif" onclick="app.toggle(this,'code','is_recommend','{{@$value._id}}')"/>
                {{else}}
                <img src="{{__HOST__}}/admin/images/no.gif" onclick="app.toggle(this,'code','is_recommend','{{@$value._id}}')"/>
                {{/if}}
            </td>

            <td class="td-manage">
                <a title="编辑" onclick="x_admin_show('编辑','{{__HOST__}}/admin/code/code-edit?id={{@$value._id}}',600,400)" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,`{{@$value._id}}`)" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <div id="page" class="pagination"></div>
</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $.ajax({
                url: `{{__HOST__}}/admin/remove?collection=code&id=${id}`, //collection=后的字段不加""
                type: "delete",
                async:false,
                success: (msg) => {
                    $(obj).parents("tr").remove();
                    layer.msg(msg.message, {icon: 1, time: 1000});
                },
                error: (err) => {
                    layer.msg(err.message, {icon: 1, time: 1000});
                }
            });
            setTimeout(function(){
                location.reload();//刷新页面
            },300);
        });
    }

    // function delAll (argument) {
    //
    //   var data = tableCheck.getData();
    //
    //   layer.confirm('确认要删除吗？'+data,function(index){
    //       //捉到所有被选中的，发异步进行删除
    //       layer.msg('删除成功', {icon: 1});
    //       $(".layui-form-checked").not('.header').parents('tr').remove();
    //   });
    // }

    // layui.use(['form', 'layer'], function () {
    //     $ = layui.jquery;
    //     var form = layui.form, layer = layui.layer;
    //     let content = document.getElementById("content").value;
    //     //触发事件
    //     var active = {
    //         notice: function(){
    //             //示范一个公告层
    //             layer.open({
    //                 type: 1
    //                 ,title: false //不显示标题栏
    //                 ,closeBtn: false
    //                 ,area: '600px;'
    //                 ,shade: 0.5
    //                 ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
    //                 ,btn: ['火速围观', '关闭']
    //                 ,btnAlign: 'c'
    //                 ,moveType: 1 //拖拽模式，0或者1
    //                 ,content: content
    //                 ,success: function(layero){
    //                     var btn = layero.find('.layui-layer-btn');
    //                     btn.find('.layui-layer-btn0').attr({
    //                         href: 'http://www.layui.com/'
    //                         ,target: '_blank'
    //                     });
    //                 }
    //             });
    //         }
    //     };
    //
    //     $('#layerDemo .layui-btn').on('click', function(){
    //         var othis = $(this), method = othis.data('method');
    //         active[method] ? active[method].call(this, othis) : '';
    //     });
    // });
</script>
<script src="{{__HOST__}}/admin/basic.js"></script>
<script src="{{__HOST__}}/admin/jqPaginator.js"></script>
<script>
    $('#page').jqPaginator({
        totalPages: {{totalPages}},
    visiblePages: 5,
        currentPage: {{page}},
    onPageChange: function (num, type) {
        console.log(num, type);
        if(type=='change'){
            location.href="{{__HOST__}}/admin/code?page="+num;
        }
    }
    });
</script>
</body>

</html>